asgiref==3.4.1
attrs==21.4.0
autopep8==1.6.0
certifi==2021.5.30
charset-normalizer==2.0.12
coreapi==2.3.3
coreschema==0.0.4
Django==3.2.7
django-cors-headers==3.8.0
django-environ==0.7.0
django-simpleui==3.9.1
djangorestframework==3.12.4
drf-yasg==1.20.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.1
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jsonschema==4.4.0
MarkupSafe==2.1.1
mysqlclient==2.0.3
packaging==21.3
pip==21.2.2
pycodestyle==2.8.0
pyparsing==3.0.8
pyrsistent==0.18.1
pytz==2021.1
PyYAML==6.0
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
setuptools==52.0.0
six==1.16.0
sqlparse==0.4.2
swagger-spec-validator==2.7.4
toml==0.10.2
typing-extensions==3.10.0.2
uritemplate==4.1.1
urllib3==1.26.9
wheel==0.37.0
wincertstore==0.2
zipp==3.8.0
